<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Test01.master.cs" Inherits="Test01.Test01" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title>Test 01</title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    </form>
</body>
</html>
